
/* reset */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

/* =======================Lyout variables ======================*/
:root{
    --primary-bg-color:#d5dded;
    --m:2rem;
    --p:1.5rem;
}

/* ------------------- */
.sidebar {


    width: 408px;
    border: 1px solid #f3eded;
}

/* header nave bar */
.header {
    display: flex;
    /* width: 100%; */
    background-color:var(--primary-bg-color);
    justify-content: space-between;
    align-items: center;
    padding: 10px 19px;
    padding: var(--p) var(--p);
    cursor: pointer;
}

.profile {
    border: 1px solid gray;
    border-radius: 32px;
    padding: 14px;
}

i {
    font-size: 25px;
}
.logos{
    display: flex;
    align-items: center;

    
}


.logos i {
    display: block;
    font-size: 23px;

    /* border: 1px solid; */
    padding: 5px;
    margin: 13px;
}

/* search bar */
.searchbar {
    display: flex;
    border: 1px solid #efefef;
    background-color: var(--primary-bg-color);
    margin: 10px 19px;
    padding: 6px 15px;
    border-radius: 8px;
}

.searchbar i {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 39px;
}
.search input {
    outline: none;
    border: none;
    padding: 5px;
    background-color: #var(--primary-bg-color);
}

/* archive */
.archived {
    border-top: 2px solid var(--primary-bg-color);
    padding: 21px 46px;
}

.archived i {
    margin: 0px;
    margin-right: 34px;
}

/* Contect */
.contect {
    margin: 5px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.contect:hover {
    background-color: var(--primary-bg-color);
}

.contect i {
    font-size: 16px;
}
.profile {
    margin: 5px;
    margin-right: 20px;
}
.contect .profile {
    border-radius: 119px;
    padding: 16px;
    height: 42px;
    width: 20;
    text-align: center;
    display: flex;
    align-items: center;
}

.nameAndMessage {
    min-width: 54%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

/* main content */
main {
    height: 100vh;
    /* border: 1px solid; */
    position: relative;
}


.user {
    display: flex;
    align-items: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px;
    /* padding-left: 15px; */
    background-color: var(--primary-bg-color);
    max-height: 101px;
    min-height: 86px;
}

/* message bar */
.messageBar {
    border: 1px solid var(--primary-bg-color);
    background-color: var(--primary-bg-color);
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 71.5%;
}

.messageBar input {
    padding: 14px;
    width: 72%;
    border: none;
    outline: none;
    border-radius: 10px;
}