*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.btn{
    width: 110px;
    margin: auto;
    margin-top: 5px;
}

.btn button{
    width: 250px;
    cursor: pointer;
    height: 56px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(67, 121, 237);
}

.btn button:hover{
    background-color: rgb(196, 204, 222);

}